@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$primary: #ff6060;
$text: #333333;
$bg: #ffffff;
$bg-contrast: #000000;
$bg-light: #f6f6f6;
$text: #333333;
$muted: #6b6b6b;

$radius: 12px;
$radius-lg: 16px;
$shadow: 0 6px 20px rgba(0, 0, 0, .08);

$font-body: "Montserrat", sans-serif;

$bp-sm: 480px;
$bp-md: 768px;
$bp-lg: 1024px;
$bp-xl: 1280px;


$breakpoints: (
  small: 350px,
  medium: 768px,
  large: 992px,
  xlarge: 1200px,
);

$breakpoint-desktop: 769px;

$wmin: 375px;
$wmax: 768px;
